.contact-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.contact-label {
  margin-bottom: 5px;
  font-size: 58px;
  color: white;
  text-align: center;
}
.butterfly-animation {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.footer-butterfly-small .butterfly-animation {
  width: 100%;
  max-width: 180px;
  height: auto;
}
.footer-butterfly-small .contact-label {
  font-size: 35px;
  margin-bottom: -10px;
}
@media (max-width: 768px) {
  .contact-label {
    font-size: 40px;
  }

  .butterfly-animation {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .contact-label {
    font-size: 28px;
  }

  .butterfly-animation {
    max-width: 150px;
  }
}
